@import "tailwindcss";

:root {
  --background: #1C1C22;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-black1: #17171c;
  --color-black2: #21212a;
  --color-black3: #2e2e3a;
  --gradient-main_gradiation: linear-gradient(90deg, #5097fa 0%, #5363ff 100%);
  --color-main_blue: #5097fa;
  --color-main_indigo: #5363ff;
  --color-deepGray: #6e6e82;
  --color-lightGray: #9fa6b2;
  --color-white: #f1f1f5;
  --color-yellow: #ffc83c;
  --color-green: #05d58b;
  --color-pink: #ff2f9f;
  --color-red: #ff0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1C22;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mplus), sans-serif;
}

@layer base { 
  /* 자동완성시 bg 컬러 텍스트 컬러 변경방지 */
  input:-internal-autofill-selected,
  input:-webkit-autofill {
    box-shadow: 0 0 0 1000px #252530 inset;
    background-color: #252530 !important;
    -webkit-text-fill-color: var(--color-white);
  }
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
